cdsapi==0.6.1
Cython==3.0.8
h5py==3.10.0
netCDF4==1.6.5
numpy==1.26.4
pandas==2.2.1
PyYAML==6.0.1
scikit-learn==1.4
scipy==1.12.0
setuptools>=69
Shapely>=2.0
scikit-image==0.22.0
eccodes>=1.7
cfgrib>=0.9.10
xarray==2024.2.0
